.logo a {
  display: block;
  background-image: url("../images/badge/logo.svg");
  background-size: cover;
  width: 28px;
  height: 38px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    width: 39px;
    height: 54px;
  }
}

.navbar-scrolled{
  background-color: rgba(255,255,255,0.9);
}

.navbar-collapse{
  border-radius: 0;
  z-index:2222;
}