.news-img{
    background-image: url("../images/pic/Rectangle 151_L.jpg");
    height: 166px;

    @include media-breakpoint-up(lg) {
        height: 282px;
      }
}

.news-img-size{
    width: 100%;
    height: 224px;    

    @include media-breakpoint-up(lg) {
        width: 322px;
        height: 220px;
      }
}